
doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')


    block scripts
        script(type='text/javascript', src='http://code.jquery.com/jquery-1.9.1.js')
        script(src="javascripts/main.js")
        script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js")        


  body
    block content