
.container {
  border: 1px dashed #CCC;
  position: relative;
}
.container > div {
  background: #AAA;
  position: absolute;


}
.container > .ss-placeholder-child {
  background: transparent;
  border: 1px dashed blue;
}
  