a:not(.md-button) {
    color: rgb(0,64,129);
  }

.searchBox {
  /* border-radius: 4px;
  border: 1px solid;
  border-color: black;  */
    height: 40px;
    width: 60px;
    box-sizing: border-box;
    margin-top: 10px;

    text-align: center;
}

.searchBox p {
  margin: 0px;
  vertical-align: middle;
  height: 40px;
  font-size: 12px;
  line-height: 40px;
  background-color:white;
  border-radius: 1px;
  border: 2px solid;
}
header .container{
  padding: 20px 0;
  
  margin:0px;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

.bkimg {
    background-image: url(/p1.jpg);
    background-size: cover;
    background-position: 25%;
    
            /*border:2px solid black;*/
            height:200px;

    
}


.jumbotron{

   align-items: center;
}

.jumbotron input{
   align-items: center;
   width:25%;
}

td {
  text-align: left;
}

.panel-title {
    text-align: left;
}

@media all {
.spot_img img {
    max-width: 70px;
    max-height: 70px;
}

.spot_img {
    margin: 0px 40px 0 0;
    width: 120px;
    vertical-align: middle;
    line-height: 68px;
    min-height: 0;

}

@media (min-width: 768px) {
  .spot_img img {
    max-width: 120px;

}
}
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.panel-body {
    font-size: 12px;
}

.exjobb {
    padding-top: 10px;
}

.page-links {
  text-align: center;
  border-width: 4px;
}

.autocompletedemoCustomTemplate .autocomplete-custom-template li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal; }
.autocompletedemoCustomTemplate .autocomplete-custom-template li:last-child {
  border-bottom-width: 0; }
.autocompletedemoCustomTemplate .autocomplete-custom-template .item-title,
.autocompletedemoCustomTemplate .autocomplete-custom-template .item-metadata {
  display: block;
  line-height: 2; }
.autocompletedemoCustomTemplate .autocomplete-custom-template .item-title md-icon {
  height: 18px;
  width: 18px; }